<div class="content">
  <div class="loader" *ngIf="loading$ | async"><mat-progress-spinner mode="indeterminate" class="item"></mat-progress-spinner></div>
  <app-error *ngIf="check"></app-error>
  <div class="content-header">
    <span class="main-text">{{room.categoryName}} Room</span>
  </div>
  <div class="main-menu">
    <div class="menu-content">
      <a href="" class="menu">All about room</a>
      <a href="" class="menu">Review</a>
    </div>
  </div>
  <div class="main-info">
    <div class="left">
      <img src="{{room.urlPhoto}}" alt="photo" class="photo">
    </div>
    <div class="right">
      <div class="price-div">
        <span class="discount" *ngIf="room.discount!=0">{{room.price}} USD</span>
        <span [ngClass]="{'price-black': room.discount==0, 'price-red': room.discount!=0}">{{room.price - room.discount}} USD</span>
      </div>

      <span class="сharacteristic">Characteristic: People: {{room.countOfPeople}}; Type: {{room.categoryName}}; Rooms: {{room.countOfRoom}}</span>
      <span class="about">{{room.about}}</span>
      <button mat-raised-button color="warn" class="button-buy" (click)="addCart(room.roomId,1)">Buy</button>
    </div>
  </div>
</div>
