<div class="content">
  <div class="content-header">
    <span class="main-text">{{room.categoryName}} Room</span>
  </div>
  <div class="main-menu">
    <div class="menu-content">
      <a href="" class="menu">All about room</a>
      <a href="" class="menu">Review</a>
    </div>
  </div>
  <div class="main-info">
    <div class="left">
      <img src="{{room.urlPhoto}}" alt="photo" class="photo">
    </div>
    <div class="right">
      <span class="price">{{room.price}} $</span>
      <span class="сharacteristic">Characteristic: People: {{room.countOfPeople}}; Type: {{room.categoryName}}; Rooms: {{room.countOfRoom}}</span>
      <span class="about">Standard Rooms provide the ideal base during your central London stay. Sleep well on the large handcrafted Vispring mattress and enjoy complimentary high-speed Wi-Fi and beautifully designed bathrooms with award-winning Noble Isle products. Nespresso machine, tea facilities and a hairdryer are also provided.</span>
      <button mat-raised-button color="warn" class="button-buy" (click)="addCart(room.roomId,1)">Buy</button>
    </div>
  </div>
</div>
