<div class="content">
  <div class="content-header">
    <span class="main-text">{{room.categoryName}} Room</span>
  </div>
  <div class="main-menu">
    <div class="menu-content">
      <a href="" class="menu">All about room</a>
      <a href="" class="menu">Review</a>
    </div>
  </div>
  <div class="main-info">
    <div class="left">
      <img src="{{room.urlPhoto}}" alt="photo" class="photo">
    </div>
    <div class="right">
      <span class="price">{{room.price}} $</span>
      <span class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci assumenda, delectus deserunt dicta eligendi esse explicabo facere fugit laborum libero non, optio quam quia, quidem sint sit voluptatibus.</span>
      <button mat-raised-button color="warn" class="button-buy" (click)="addCart(room.roomId,1)">Buy</button>
    </div>
  </div>
</div>
