.content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
.content .content-main {
  margin-top: 5%;
  width: 40%;
  height: 40%;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.content .content-main .order {
  display: flex;
  flex-direction: column;
}
.content .content-main .order .ordertext {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.content .content-main .order .step {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 5%;
}
.content .content-main .order .firststep {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px;
}
.content .content-main .order .firststep input {
  margin-bottom: 2%;
  margin-top: 1%;
  margin-left: 30%;
  width: 40%;
  height: 30px;
  border-radius: 4px;
}
.content .content-main .order .secondstep {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.content .content-main .order .secondstep .payments {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 24px;
  margin-top: 2%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.content .content-main .order .secondstep .textradio {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0.5%;
}
.content .content-main .order .thirdstep {
  border-radius: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 1%;
}
.content .content-main .order .thirdstep .showcart {
  width: 100%;
  height: 400px;
  overflow: scroll;
}
.content .content-main .order .thirdstep .showcart .price {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  font-size: 16px;
}
.content .content-main .order .thirdstep .showcart .cart {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 10px;
}
.content .content-main .order .thirdstep .showcart .cart .cartleft {
  width: 25%;
  height: 100px;
}
.content .content-main .order .thirdstep .showcart .cart .cartleft .idCartIteams {
  display: inline-block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 10px;
}
.content .content-main .order .thirdstep .showcart .cart .cartcenter {
  display: flex;
  width: 50%;
  height: 100px;
}
.content .content-main .order .thirdstep .showcart .cart .cartcenter .roomId {
  padding: 8%;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}
.content .content-main .order .thirdstep .showcart .cart .cartright {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 25%;
  height: 100px;
  justify-content: left;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  font-size: 16px;
}
.content .content-main .order .thirdstep .showcart .cart .cartright .priceroom {
  margin-top: 10%;
}
.content .content-main .order .sendorder {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: auto;
  background: #fa6166;
  font-size: 20px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
}

/*# sourceMappingURL=create-order.component.css.map */
