<div class="content">
  <app-error *ngIf="check"></app-error>
    <div class="right">
      <div class="cart" *ngFor="let cartItem of cartiteams; let i = index;">
        <div class="cartleft">
          <span class="idCartIteams">Id: {{i+1}}</span>
        </div>
        <div class="cartcenter">
          <span class="roomId">RoomId: {{cartItem.roomId}}</span>
        </div>
        <div class="cartright">
          <span class="countroom">Count: {{cartItem.count}}</span>
          <span class="priceroom">Price: {{cartItem.price}}</span>
        </div>
      </div>
      <div class="totalprice">
        <span class="total">Total price: {{price}}</span>
      </div>
      <div class="send">
        <button mat-raised-button class="send-order" color="warn" (click)="neworder('')">Send</button>
      </div>
    </div>
</div>
