.content {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .right {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0px 0px 2px 0px #6f6d6d;
    border-radius: 10px;
    max-height: 500px;
    min-height: 200px;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .cart {
      margin-bottom: 2%;
      display: flex;
      width: 100%;
      height: 100px;
      border: 1px solid #000000;
      border-radius: 10px;

      .cartleft {
        width: 25%;
        height: 100px;

        .idCartIteams {
          display: inline-block;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 16px;
          margin-top: 40px;
          margin-left: 10px;
        }
      }

      .cartcenter {
        display: flex;
        width: 50%;
        height: 100px;

        .roomId {
          margin: auto;
          font-size: 16px;
          font-family: "Courier New", Courier, monospace;
        }
      }

      .cartright {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 25%;
        height: 100px;
        justify-content: left;
        font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
        font-size: 16px;

        .priceroom {
          margin-top: 10%;
        }
      }
    }

    .totalprice {
      display: flex;
      justify-content: left;

      .total {
        display: flex;
        justify-content: left;
        padding-bottom: 1%;
        font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
        font-size: 16px;
      }
    }

    .send {
      width: 70%;
      margin: auto;
      display: flex;
      justify-content: center;
      .send-order{
        width: 20%;
      }
    }
  }
}
@media (max-width: 650px) {
  .content{
    .left{
      display: none;
    }
    .right{
      width: 100%;
    }
  }
}
