<div class="content">
  <div class="content-mainphoto">
    <div class="content-mainphoto-textonmainphoto">
      <div class="centertext">
        <span class="textinmain">Have fun at loews Raddisson Hotel</span>
        <span class="textundermain">A season of fun under the South Beach sun.</span>
        <span class="buttominfo"><a href="">Learm more</a></span>
      </div>
    </div>
  </div>
  <div class="content-center">
    <span class="aboutus">How can you find us?</span>
  </div>
  <div class="content-footer">

    <div class="navigationmap">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6578763.04973412!2d25.582256704460164!3d52.480232503852044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473718775aa52397%3A0x69110c61000df639!2sRadisson%20Blu%20Resort%2C%20Bukovel!5e0!3m2!1sru!2sua!4v1679694883363!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="connectwithus">
      <div class="textconnect">
        <span class="place">Carpathian Raddisson</span>
        <span class="number">(380) 99-324-22-13</span>
        <span class="email">raddissonukraine@gmail.com</span>
        <span class="address">Shchivky street, Yaremche, Ivano-Frankivsk region, 76019</span>
      </div>
    </div>
  </div>
</div>
