<div class="content">
  <div class="content-mainphoto">
    <div class="content-mainphoto-textonmainphoto">
      <div class="centertext">
        <span class="textinmain">Have fun at loews Raddisson Hotel</span>
        <span class="textundermain">A season of fun under the South Beach sun.</span>
        <button class="button" mat-raised-button>Learn more</button>
      </div>
    </div>
  </div>
  <span class="about-us" id="about-us">About Us</span>
  <div class="content-about-us">
    <div class="first">
      <span class="relax">Relax</span>
      <span>Enjoy our bar seats as you watch the sunset over the beach, cozy up in our common space with your Laptop or your real book, take in Tel Aviv from our balcony as you plan the adventure of the day.</span>
    </div>
    <div class="second">
      <span class="facilities">Facilities</span>
      <span>The Oasis Spa Club Dead Sea Hotel offers guests four options of room types, designed in a fresh and elegant style: Standard Rooms, Studio Rooms, Garden Rooms and luxurious Garden Suites. All guest rooms are nonsmoking.</span>
    </div>
    <div class="third">
      <span class="prime-hotel">Prime Hotel</span>
      <span>Our Moroccan inspired Spa offers extensive facilities, diverse treatments and packages, all set against the colors and aromas familiar to the Middle East. The ambiance at our Oasis Spa is designed to draw you into our heated salt-water pool and soak up 21 rejuvenating minerals to soothe and relax your mind, body and soul.
      </span>
    </div>
  </div>
  <span class="contact-us-span">Contact Us</span>
  <div class="contact-us">
    <div class="information">
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>email</mat-icon>
          <span matListItemLine><a href="https://www.verginiasharm.com/">https://www.verginiasharm.com/</a></span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>phone</mat-icon>
          <span matListItemLine>+20 69 3664780</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>map</mat-icon>
          <span matListItemLine>Motelats St.-El Hadaba - Sharm El Sheikh</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14108.056532624885!2d34.3116455!3d27.8708362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145339f50a10d811%3A0x3aca43d73981647d!2sVerginia%20Sharm%20Hotel!5e0!3m2!1sru!2sua!4v1686692143666!5m2!1sru!2sua" allowfullscreen="" class="map-link" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  </div>
</div>
