.content{
  max-width: 2000px;
  .toolbar {
    display: none;
    background: #fa6166;
    color: #fce77e;
    @media (max-width: 650px) {
      .toolbar{
        display: block;
      }
    }
    .button-menu {
    }

    .name-hotel {
      //display: none;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .registration {
      margin-right: 1%;
    }
  }
  }
@media (max-width:410px) {
  button{
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  button{
    font-size: 9px;
    width: 20px;
  }
}
  .laptop-content{
    display: flex;
    padding: 2%;
    background: #fa6166;
    color: #fce77e;
    .left-content{
      width: 30%;
      display: flex;
      justify-content: space-between;
      .routLink{
        margin-left: 15px;
        display: flex;
        color: #fce77e;
        padding-right: 4%;
        transition: transform 500ms ease;

      }
      .routLink:hover{
        transform: scale(1.4);
      }
    }
    .spacer{
      flex: 1 1 auto;
    }
    .right-content{
      .button-first{
        display: flex;
      }
      .button-second{
        display: none;
      }
      @media (max-width: 790px) {
        .button-first{
          display: none;
        }
        .button-second{
          display: flex;
        }
    }
  }
  }
  @media (max-width:650px) {
    .toolbar {
    display: flex;
    span {
      font-size: 14px;
      padding: 3px;
    }
  }
    .laptop-content{
      display: none;
    }
  }
