<div class="content">
  <mat-toolbar class="toolbar">
          <button mat-button [matMenuTriggerFor]="menu" class="button-menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/">Home</button>
            <button mat-menu-item routerLink="/rooms">Room</button>
            <button mat-menu-item *ngIf="isAuthenticated()" routerLink="/cart">Cart</button>
            <button mat-menu-item *ngIf="isAuthenticated()" routerLink="/order">Order</button>
            <button mat-menu-item *ngIf="isAuthenticated()" routerLink="/info-about-user">Information</button>
            <button mat-menu-item *ngIf="isAuthenticated()" (click)="logOut()">Log Out</button>
          </mat-menu>
          <span class="name-hotel">Verginia Sharm Hotel</span>
          <span class="spacer"></span>
          <button mat-raised-button class="registration" routerLink="/registration-page" *ngIf="!isAuthenticated()">Registration</button>
          <button mat-raised-button routerLink="/sing-in" *ngIf="!isAuthenticated()">Sing In</button>
          <button mat-raised-button class="registration" routerLink="/registration-page" *ngIf="isAuthenticated()">Cabinet</button>
          <button mat-raised-button (click)="logOut()" *ngIf="isAuthenticated()">LogOut</button>
  </mat-toolbar>
  <mat-toolbar class="laptop-content">
    <div class="left-content">
      <span><a class="routLink"  routerLink="/">Home</a></span>
      <span><a class="routLink" routerLink="">Category</a></span>
      <span><a class="routLink" routerLink="/rooms">Rooms</a></span>
      <span><a class="routLink" routerLink="">Contact</a></span>
      <span><a class="routLink" routerLink="/">About Us</a></span>
    </div>
    <span class="spacer"></span>
    <div  class="right-content" *ngIf="!isAuthenticated()">
      <button mat-icon-button class="button-first" (click)="openDialog()">
        <mat-icon>account_box</mat-icon>
      </button>
      <button mat-icon-button class="button-second" routerLink="/cart">
        <mat-icon>
          account_box
        </mat-icon>
      </button>
    </div>
    <div class="right-content" *ngIf="isAuthenticated()">
      <span><a routerLink="/cart" class="cabinet">Cabinet</a></span>
      <span><a routerLink="/" class="cabinet" (click)="logOut()">LogOut</a></span>
    </div>
  </mat-toolbar>
</div>
