<div class="content">
  <mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list class="mainlist">
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink="">Category</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
          <mat-icon >menu</mat-icon>
        </button>
        <span class="name-hotel">Verginia Sharm Hotel</span>
        <span class="spacer"></span>
        <button mat-raised-button class="registration" routerLink="/registration">Registration</button>
        <button mat-raised-button routerLink="/sing-in">Sing In</button>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="laptop-content">
    <div class="left-content">
      <span><a class="routLink" routerLink="/">Home</a></span>
      <span><a class="routLink" routerLink="">Category</a></span>
      <span><a class="routLink" routerLink="/rooms">Rooms</a></span>
      <span><a class="routLink" routerLink="">Contact</a></span>
      <span><a class="routLink" routerLink="">About Us</a></span>
    </div>
    <span class="spacer"></span>
    <div class="right-content" *ngIf="!isAuthenticated()">
      <div class="firstType">
        <span><a routerLink="/registration" class="routLink">Registration</a></span>
        <span><a routerLink="/sing-in" class="routLink">Sing In</a></span>
      </div>
    </div>
    <div class="right-content" *ngIf="isAuthenticated()">
      <span><a routerLink="/cart" class="routLink">Cabinet</a></span>
      <span><a routerLink="/" class="routLink" (click)="logOut()">LogOut</a></span>
    </div>
  </mat-toolbar>
</div>
