.main-info-left {
  display: flex;
  justify-content: center;
  .navigation{
    display: flex;
    flex-direction: column;
    width: 40%;
    .navigation-item{
      margin: 5px;
    }
  }
}
@media (max-width: 650px) {
  .main-info-left{
    display: none;
  }
}
