<div class="content">
<div class="main-info">
  <div class="main-info-left">
      <ul class="ulnavigation" >
        <a (click)="check='order'"><li class="navigator">Orders</li></a>
        <a (click)="check='cart'"><li class="navigator">Cart</li></a>
        <a (click)="check='info'"><li class="navigator">Info</li></a>
        <a><li class="navigator">Payments</li></a>
        <a (click)="logOut()"><li class="navigator">LogOut</li></a>
      </ul>
  </div>
  <div class="main-info-right">
    <div class="cheker">
      </div>
    </div>
  </div>
</div>
