<div class="main-info-left">
      <div class="navigation">
        <button mat-raised-button class="navigation-item" color="warn" routerLink="/order">Order</button>
        <button mat-raised-button class="navigation-item" color="warn" routerLink="/cart">Cart</button>
        <button mat-raised-button class="navigation-item" color="warn" routerLink="/info-about-user">Information</button>
        <button mat-raised-button class="navigation-item" color="warn" (click)="logOut()">Log Out</button>
      </div>
  </div>
