<div class="content">
  <div class="undernavigachion">
    <span class="textunder">Rooms</span>
  </div>
  <button mat-raised-button routerLink="/newroom" class="addnewroom" *ngIf="isAuthenticated() && User.role==0">Add new room</button>
  <div class="content-maincenter">
   <div class="content-maincenter-left">
     <span class="textfilter"> Filter</span>
     <mat-list class="list">
       <mat-list-item><button mat-raised-button class="list-iteam" (click)="filterData('Premiume')">Premiume</button></mat-list-item>
       <mat-list-item><button mat-raised-button class="list-iteam" (click)="filterData('Business')">Business</button></mat-list-item>
       <mat-list-item><button mat-raised-button class="list-iteam" (click)="filterData('Premiume')">Premiume</button></mat-list-item>
       <mat-list-item><button mat-raised-button class="list-iteam" (click)="filterData('Premiume')">Premiume</button></mat-list-item>
       <mat-list-item><button mat-raised-button class="list-iteam" (click)="filterData('Premiume')">Premiume</button></mat-list-item>
     </mat-list>
    </div>
    <div class="content-maincenter-right">
     <mat-card class="room" *ngFor="let rooms of RoomFitler">
       <img mat-card-image src="{{rooms.urlPhoto}}" class="photo" alt="room">
       <mat-card-header>
         <mat-card-title class="name">{{rooms.categoryName + " Room"}}</mat-card-title>
       </mat-card-header>
       <mat-card-content>
       </mat-card-content>
       <mat-card-actions>
       </mat-card-actions>
     </mat-card>
    </div>
    <!--<div class="content-maincenter-right">
      <mat-card class="card" *ngFor="let room of RoomFitler">
        <mat-card-header>
          <h1>sdd</h1>
        </mat-card-header>
        <img src="{{room.urlPhoto}}" alt="">
        <mat-card-content>
          <h1>Lorem</h1>
        </mat-card-content>
        <mat-card-actions>
          <button>Click</button>
        </mat-card-actions>
      </mat-card>0-->
      <!-- <div class="firstroom"  *ngFor="let rooms of RoomFitler">
        <img class="room1" src="{{rooms.urlPhoto}}" alt="room1">
        <span class="nameroom1"><a href="/pages/aboutroom.html">{{rooms.categoryName}} Room</a></span>
        <span class="undernameroom1">Partial Ocean View Suite With Balcony</span>
        <div class="priceforgotel">
          <span class="price">{{rooms.price}}</span>
          <span class="fortime">USD/ Day</span>
        </div>
        <span class="buttombuy"><a class="buy" (click)="addCart(rooms.roomId,1)">Buy</a></span>
      </div> -->
    </div>
  </div>
