<div class="content">
  <div class="undernavigachion">
    <span class="textunder">Rooms</span>
    <a routerLink="/newroom" class="addnewroom" *ngIf="isAuthenticated() && User.role==0">Add new room</a>
  </div>
  <div class="content-maincenter">
    <div class="content-maincenter-left">
      <span class="textfilter"> Filter</span>
      <div class="blockfilter">
        <ul class="filter">
          <a (click)="filterData('Premiume')"><li class="filteriteam">Premiume</li></a>
          <a  (click)="filterData('Business')"><li class="filteriteam">Bissness</li></a>
          <a  (click)="filterData('Econome')"><li class="filteriteam">Econome</li></a>
          <a (click)="filterData('Luxe')"><li class="filteriteam">Luxe</li></a>
          <a (click)="filterData('4')"><li class="filteriteam">4 people</li></a>
          <a (click)="filterData('2')"><li class="filteriteam">2 rooms</li></a>
          <a (click)="filterData('')" ><li class="filteriteam">Reset</li></a>
        </ul>
      </div>
    </div>
    <div class="content-maincenter-right">
      <div class="firstroom"  *ngFor="let rooms of RoomFitler">
        <img class="room1" src="{{rooms.urlPhoto}}" alt="room1">
        <span class="nameroom1"><a href="/pages/aboutroom.html">{{rooms.categoryName}} Room</a></span>
        <span class="undernameroom1">Partial Ocean View Suite With Balcony</span>
        <div class="priceforgotel">
          <span class="price">{{rooms.price}}</span>
          <span class="fortime">USD/ Day</span>
        </div>
        <span class="buttombuy"><a class="buy" (click)="addCart(rooms.roomId,1)">Buy</a></span>
      </div>
    </div>
  </div>
</div>
