<div class="content">
  <div class="loader" *ngIf="loading$ | async"><mat-progress-spinner mode="indeterminate" class="item"></mat-progress-spinner></div>
  <app-error *ngIf="check"></app-error>
  <div class="undernavigachion">
    <span class="textunder">Rooms</span>
  </div>
  <button mat-raised-button routerLink="/newroom" class="addnewroom" *ngIf="isAuthenticated() && User.role==0">Add new room</button>
  <div class="content-maincenter">
    <button mat-raised-button [matMenuTriggerFor]="menu" color="warn" class="button-filter">Filter</button>
    <mat-menu #menu="matMenu" class="textfilter">
      <button mat-menu-item class="list-iteam"  (click)="filterData('Premiume')">Premium</button>
      <button mat-menu-item class="list-iteam" (click)="filterData('Business')">Business</button>
      <button mat-menu-item class="list-iteam" (click)="filterData('Premiume')">Economy</button>
      <button mat-menu-item class="list-iteam" (click)="filterData('Premiume')">2 people</button>
      <button mat-menu-item class="list-iteam" (click)="filterData('Premiume')">4 people</button>
    </mat-menu>
    <div class="content-maincenter-right">
     <mat-card class="room" *ngFor="let rooms of RoomFitler">
       <a [routerLink]="['/rooms', rooms.roomId]"><img mat-card-image src="{{rooms.urlPhoto}}" class="photo" alt="room"></a>
       <mat-card-header class="header">
         <a [routerLink]="['/rooms', rooms.roomId]"><mat-card-title class="name">{{rooms.categoryName + " Room"}}</mat-card-title></a>
       </mat-card-header>
       <mat-card-content class="main-content">
         <span class="about">{{rooms.about}}</span>
       </mat-card-content>
       <mat-card-actions class="function">
         <div class="price-div">
           <span class="discount" *ngIf="rooms.discount!=0">{{rooms.price}} USD</span>
           <span [ngClass]="{'price-red': rooms.discount!=0, 'price-black': rooms.discount==0}">{{rooms.price - rooms.discount}} USD</span>
         </div>
         <button mat-raised-button color="warn" (click)="addCart(rooms.roomId,1)">Buy</button>
       </mat-card-actions>
     </mat-card>
    </div>
    </div>
  </div>
