<div class="content">
  <div class="content-registration">
    <form
      class="formregistration"
      [formGroup]="registrationForm"
      (ngSubmit)="registration()"
    >
      <span class="spanregistration">Registration</span>
      <input
        type="text"
        name="firstname"
        id="firstname"
        class="firstname"
        placeholder="First Name"
        formControlName="firstName"
        #FirstName
      >
      <input
        type="text"
        name="lastname"
        class="lastname"
        placeholder="Last Name"
        formControlName="secondName"
        #SecondName
      >
      <input
        type="email"
        name="emailuser"
        class="email"
        placeholder="Email"
        formControlName="email"
        #Email
      >
      <input
        type="date"
        name="birthday"
        class="birthday"
        formControlName="birthday"
        #Birthday
      >
      <input
        type="text"
        name="username"
        class="username"
        placeholder="Username"
        formControlName="userName"
        #UserName
      >
      <input
        type="password"
        name="password"
        class="password"
        placeholder="Password"
        formControlName="password"
        #Password
      >
      <span class="spanforsingin">Do you have an account? If yes, <a routerLink="/sing-in">sing in</a></span>
      <button
        type="submit"
        class="submitbutton"
      >Send</button>
    </form>
  </div>
  <router-outlet></router-outlet>
</div>
