<div class="content">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="1000ms">
    <mat-tab label="Registration">
      <form
        [formGroup]="registrationForm"
        (ngSubmit)="registration()"
        class="formregistration"
      >
        <span class="registration"> Registration</span>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstName"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Second Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="secondName"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Birthday</mat-label>
          <input
            type="date"
            matInput
            formControlName="birthday"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>UserName</mat-label>
          <input
            type="text"
            matInput
            formControlName="userName"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
          >
        </mat-form-field>
        <button mat-raised-button class="sendregistration" type="submit" color="warn" [disabled]="!registrationForm.valid" mat-dialog-close>Send</button>
      </form>
    </mat-tab>
    <mat-tab label="Sing In">
      <form
        [formGroup]="singInForm"
        (ngSubmit)="singIn()"
        class="sing-in"
      >
        <span class="spansingin">Sing In</span>
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="userName"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            formControlName="password"
          matInput>
        </mat-form-field>
        <button mat-raised-button color="warn" [disabled]="!singInForm.valid" type="submit" mat-dialog-close>Send</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
