.content{
  border: 1px solid;
  width: 600px;
  padding: 2%;
  .formregistration {
    display: flex;
    flex-direction: column;
    padding: 3%;
    .registration {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
    }
    mat-form-field{
    }
  }
  .sing-in{
    display: flex;
    flex-direction: column;
    padding: 3%;
    .spansingin{
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 30px;
    }
  }
}
