<div class="content">
  <div class="content-singin">
    <form
      class="formsingin"
      [formGroup]="singInForm"
      (ngSubmit)="login()"
    >
      <span class="spansingin">Sing In</span>
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input
        type="text"
        class="username"
        placeholder="Username"
        formControlName="userName"
        matInput
      >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
        type="password"
        class="password"
        placeholder="Password"
        formControlName="password"
        matInput
      >
      </mat-form-field>
      <span class="spanforregistration">Don't have an account? <a routerLink="/registration">Create account</a></span>
      <button
        class="submitbutton"
        mat-raised-button
        color="warn"
        [disabled]="!singInForm.valid"
      >
        <span *ngIf="!isSingIn">Send</span>
        <mat-spinner *ngIf="isSingIn" diameter="30"></mat-spinner>
      </button>
    </form>
  </div>
</div>
