<div class="content">
  <div class="content-singin">
    <form
      class="formsingin"
      [formGroup]="singInForm"
      (ngSubmit)="login()"
    >
      <span class="spansingin">Sing In</span>
      <input
        type="text"
        name="username"
        class="username"
        placeholder="Username"
        formControlName="userName"
        #UserName
      >
      <input
        type="password"
        name="password"
        class="password"
        placeholder="Password"
        formControlName="password"
        #Password
      >
      <span class="spanforregistration">Don't have an account? <a routerLink="/registration">Create account</a></span>
      <button
        type="submit"
        class="submitbutton"
      >Send</button>
    </form>
  </div>
</div>
