<div class="content">
  <div class="content-singin">
    <form class="formsingin">
      <span class="spansingin">Sing In</span>
      <input
        type="text"
        name="username"
        class="username"
        placeholder="Username"
        #UserName
      >
      <input
        type="password"
        name="password"
        class="password"
        placeholder="Password"
        #Password
      >
      <span class="spanforregistration">Don't have an account? <a routerLink="/registration">Create account</a></span>
      <button
        type="submit"
        class="submitbutton"
        (click)="login(UserName.value,Password.value)"
      >Send</button>
    </form>
  </div>
</div>
