.content{
  padding: 2%;
  width: 100%;
  display: flex;
  .content-left{
    width: 30%;
  }
  .content-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    .order{
      border: 1px solid;
      width: 100%;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0px 0px 2px 0px #6f6d6d;
      display: flex;
      justify-content: space-between;
      .orderleft{
        display: flex;
        width: 25%;
        height: 100%;
        align-items: center;

      }
      .ordermain{
        display: flex;
        width: 50%;
        align-items: center;
      }
      .orderright{
        display: flex;
        width: 25%;
        align-items: center;
      }
    }
  }
}
@media (max-width: 650px) {
  .content{
    .content-left{
      display: none;
    }
    .content-right{
      width: 100%;

    }
  }
}

