.content {
  display: flex;
  width: 100%;
  justify-content: center;

  .addnewroom {
    display: flex;
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    .main-form {
      margin-top: 20%;
      padding: 20px;
      display: flex;
      justify-content: center;
      justify-items: center;
      flex-direction: column;
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      box-shadow: 0px 10px 15px 0px;

      .addnewroom {
        display: flex;
        font-size: 35px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        justify-content: center;
        margin-bottom: 2%;
      }

      .names {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .price {
          width: 50%;
        }

        .countofpeople {
          width: 50%;
        }

      }
      .button{
        margin-top: 2%;
        display: flex;
        width: 100%;
        justify-content: center;
        .buttonsubmit {
          display: flex;
          width: 30%;
        }
      }

    }
  }
}
