.addnewroom{
  .main-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    height: 40%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    .textnewroom{
      margin-top: 10px;
      font-size: 35px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
    }
    .price, .countPeople, .countRoom, .count, .category{
        margin-left: 30%;
        margin-top: 3%;
        width: 40%;
        height: 30px;
        border-radius: 4px;
    }
    .category{
      margin-bottom: 2%;
    }
    .sendbuttom{
      display: flex;
      margin: auto;
      justify-content: center;
      width: 100px;
      height: 25px;
      background: #fa6166;
      color: #fce77e;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      border-radius: 5px;
    }
  }
}
